.navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;

}

#btn1{
    background-color:lightblue ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    height: 30px;
    border-radius: 10px;
}

#btn2{
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
    height: 30px;
    border-radius: 10px;
}

.buttons{
    display: flex;
    gap: 10px;
}
